/* NAVBAR */

.nav {
    display: flex;
    height: 40px;
    max-height: 200px;
    background-color: #333333 !important;
  }
  
  .nav>ul {
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: 0 auto !important;
  }
  
  .nav>ul>li {
    float: left;
    line-height: 40px;
    text-align: center;
    min-width: 60px;
    max-width: 160px;
    border-right: 1px solid black;
    transition: all 300ms;
  }
  
  .active {
    background-color: #F5A22F;
    box-shadow: 0px 0px 4px #DE1FA1 inset;
    cursor: pointer;
    color: #DE1FA1;
  }
  
  .nav ul li:hover {
    background-color: #F5A22F;
    box-shadow: 0px 0px 4px #DE1FA1 inset;
    cursor: pointer;
    color: #DE1FA1;
  }
  
  .nav ul li a {
    color: #00c2cb;
    display: block;
    text-decoration: none;
    padding: 0px 30px 0px 30px;
  }
  
  
  .nav ul li:first-child {
    border-left: 1px solid black;
  }
  
  .nav ul li a:hover,
  .nav ul li ul li a:hover {
    color: #DE1FA1;
  }
  
  .nav>ul>li>ul {
    display: none;
    position: absolute;
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px #333333;
  }
  
  /* End NAVBAR */
  
  /* DROPDOWN Menu */
  .nav>ul>li:hover>ul {
    display: block;
    z-index: 1;
  }
  
  .nav>ul>li>ul>li {
    border: 1px dashed black;
  }
  
  .nav>ul>li>ul {
    list-style: none;
    color: #00c2cb;
    background-color: #F5A22F;
  }
  
  /* end DROPDOWN Menu */